.main {
    width: 110vw;
  margin-left: -125px;
    padding: 0;

}

.gallery {
    height: 175vh;
    background: rgb(45, 45, 45);
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: -500px;
    margin-bottom: -400px;
    width: 100%;
}

.column {
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.imageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
}

.imageContainer img {
    object-fit: cover;
}

.column:nth-of-type(1) {
    top: -45%;
}

.column:nth-of-type(2) {
    top: -95%;
}

.column:nth-of-type(3) {
    top: -45%;
}

.column:nth-of-type(4) {
    top: -75%;
}

.spacer {
    height: 100vh;
}
